html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Inter", sans-serif;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/*General Classes */
.container {
    max-width: 1680px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.display-flex {
    display: flex;
    align-items: center;
}
.btns__container {
    gap: 24px;
}
.btns__container .join-now {
    display: flex;
    width: 192px;
    height: 54px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #495fff;
    text-align: center;
    font-family: Indivisible;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}
.btns__container .schedule-call {
    display: flex;
    height: 54px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    color: #495fff;
    text-align: center;
    font-family: Indivisible;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: #e3e6ff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.pad-top {
    padding-top: 144px;
}
.mg-top {
    margin-top: 144px;
}

.section-name {
    color: #6276ff;
    font-family: Indivisible;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.title-section {
    color: #01002a;
    margin: 10px 0px;
    font-family: Indivisible;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.subtitle-section {
    color: #575673;
    text-align: center;
    font-family: Indivisible;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 610px;
    margin: 0 auto;
}

/* Header Section styles */
.bg-top {
    background: url(images/background.png);
    background-size: cover;
}
.header-section {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section img {
    width: 230px;
    height: 54px;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-menu ul li a {
    color: #01002a;
    font-family: Indivisible;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.nav-menu__btns {
    display: flex;
    align-items: center;
    gap: 24px;
}
.nav-menu__btns .login-btn {
    border-radius: 8px;
    border: 1px solid rgba(73, 95, 255, 0.25);
    background: #d8ddff;
    padding: 15px;
    width: 109px;
    text-align: center;
    color: #495fff;
    text-align: center;
    text-decoration: none;
    font-family: Indivisible;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.nav-menu__btns .join-btn {
    border-radius: 8px;
    background: #495fff;
    text-align: center;
    font-family: Indivisible;
    font-size: 14px;
    width: 134px;
    padding: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
    color: #fff;
}
/* Hero Section styles*/
.hero-section {
    padding: 48px 0px 58px 0px;
}
.hero-section .flex-container {
    justify-content: space-between;
    gap: 38px;
}
.hero-title__block {
    max-width: 640px;
    width: 100%;
}
.hero-title__block h1 {
    color: #01002a;
    font-family: Indivisible;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.hero-title__block p {
    color: #575673;
    font-family: Indivisible;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
}
.hero-btns__block {
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-btns__block .join-btn {
    border-radius: 8px;
    background: #495fff;
    display: flex;
    width: 192px;
    height: 54px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Indivisible;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-decoration: none;
}
.hero-btns__block .contact-btn {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    height: 54px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    width: 179px;
    text-decoration: none;
}
.hero-image__block {
    max-width: 860px;
    width: 100%;
}
.hero-image__block img {
    display: block;
    width: 100%;
    height: auto;
}

/* Partners section styles */
.bg-partners {
    background: #f6f7ff;
}
.partners-section .subtitle-section {
    margin-bottom: 48px;
}
.partners-section .animated-brands-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* How it Works section styles */
.bg-howit-works {
    position: relative;
}
.bg-howit-works .bg-item-right {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: -130px;
}
.bg-howit-works .bg-item-left {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    left: 0px;
    top: 400px;
}
.bg-howit-works .bg-item-bottom {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    right: 0px;
    bottom: -390px;
}
.howit-works-section .subtitle-section {
    margin-bottom: 96px;
}
.howit-works-section .offers-block {
    margin-bottom: 111px;
    justify-content: space-between;
}

.howit-works-section .affiliates-block {
    margin-bottom: 111px;
    justify-content: space-between;
}

.howit-works-section .metrics-block {
    margin-bottom: 96px;
    justify-content: space-between;
}
.howit-works-section .content-block {
    max-width: 540px;
    width: 100%;
    margin-right: 50px;
}
.howit-works-section .image-block {
    max-width: 700px;
    width: 100%;
}
.howit-works-section .image-block img {
    max-width: 100%;
    display: block;
}
.affiliates-block .content-block {
    margin-right: 0px;
    margin-left: 50px;
}
.howit-works-section .content-block .icon-block {
    margin-bottom: 24px;
}
.howit-works-section .content-block h4 {
    color: #01002a;
    font-family: Indivisible;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.howit-works-section .content-block ul li {
    color: #575673;
    font-family: Indivisible;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    margin-bottom: 16px;
}
.howit-works-section .content-block ul li::before {
    content: url("./images/svg/listicon.svg");
    margin-right: 12px;
}
.howit-works-section .content-block ul li:last-of-type {
    margin-bottom: 0px;
}
.howit-works-section .btns__container {
    justify-content: center;
}

/* Benefits Section */
.bg-benefits {
    padding-bottom: 144px;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0.75) 100%
        ),
        linear-gradient(
            180deg,
            rgba(98, 118, 255, 0.35) 0%,
            rgba(98, 118, 255, 0.85) 100%
        );
    position: relative;
}
.bg-benefits .bg-benefit {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 0px;
}
.benefits-section .title-section {
    margin-bottom: 96px;
}
.benefits-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 96px;
    column-gap: 48px;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
}
.benefits-item {
    flex: 1 1 410px;
}
.benefits-item h5 {
    color: #01002a;
    text-align: center;
    font-family: Indivisible;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 7px;
}
.benefits-item p {
    color: #575673;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 373px;
    margin: 0 auto;
}
.benefit-item-icon-block {
    margin-bottom: 20px;
}
