.homepage-hero {
    padding: 157px 0px 168px 0px;
}
.homepage-hero .hero-title__block {
    max-width: 100%;
}
.homepage-hero .hero-title__block h1 {
    color: #495fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.homepage-hero .hero-title__block h1 span {
    font-weight: 500;
}
.homepage-hero .hero-title__block p {
    color: #01002a;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 730px;
    margin: 0 auto 48px;
}
.homepage-hero .hero-btns__block {
    justify-content: center;
}
.homepage-hero .contact-btn {
    width: 201px;
}
.homepage-hero .join-btn {
    width: 192px;
}
@media screen and (max-width: 991px) {
    .hero-section .flex-container {
        flex-direction: column;
    }
    .hero-title__block {
        max-width: 100%;
    }
    .hero-title__block h1 {
        max-width: 100%;
    }
    .hero-title__block p {
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .homepage-hero {
        padding: 100px 0px 76px 0px;
    }
    .homepage-hero .hero-title__block h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .homepage-hero .hero-title__block p {
        font-size: 30px;
        line-height: 30px;
    }
}

/*animations section*/
.bg-animation {
    background: #f6f7ff;
}
.animations-section {
    padding: 72px 0px;
}
.animation-item:first-of-type {
    margin-bottom: 100px;
}
.animation-item {
    gap: 20px;
}
.animation-text-block {
    max-width: 540px;
    width: 100%;
}
.animation-text-block li {
    color: #575673;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.animation-text-block ul {
    margin-bottom: 32px;
}
.animation-text-block span {
    display: block;
    color: #6276ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.animation-text-block h4 {
    color: #01002a;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}
.animation-text-block p {
    color: #575673;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}
.animation-text-block p span{
    display: inline-block;
    color: #575673;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: lowercase;
}
.animation-text-block p:last-of-type {
    color: #575673;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}
.animation-text-block .btns-block {
    gap: 16px;
}
.animation-text-block .btns-block .link-btn {
    border-radius: 8px;
    background: #E3E6FF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #495FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 54px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 180px;
    border-radius: 8px;
}

.animation-text-block .modal-open-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 54px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 180px;
    border-radius: 8px;
    background: #495fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.animation-text-block img {
    padding-top: 2px;
}
@media screen and (max-width: 991px) {
    .animation-item {
        flex-direction: column-reverse;
    }
    .animation-item:first-of-type {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .animation-text-block {
        margin-bottom: 50px;
        max-width: 100%;
    }
}
/*partners */
.bg-partners-homepage {
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(234, 236, 255, 1) 0%,
        #f6f7ff 100%
    );
    /* background: #EAECFF; */
}
.bg-partners-homepage .brands-list {
    background-color: transparent !important;
}
.bg-partners-homepage .title-section {
    margin-bottom: 72px !important;
}
.bg-partners-homepage::before {
    background: linear-gradient(
        180deg,
        rgba(234, 236, 255, 0) 0%,
        #f6f7ff 100%
    );
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    bottom: 0;
}

/* we are section */
.we-are-section {
    padding: 144px 0px;
}

.we-are-section .title-top {
    text-align: center;
    margin-bottom: 72px;
}
.we-are-section .title-top img {
    margin-bottom: 24px;
}
.we-are-section .title-top span {
    display: block;
    color: #6276ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.we-are-section .title-top p {
    color: #575673;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 6px;
}
.we-are-section .title-top h4 {
    color: #01002a;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}

.bg-weare {
    position: relative;
    overflow: hidden;
}
.bg-weare .bg-item-image {
    position: absolute;
    z-index: -1;
    left: -500px;
    top: 300px;
}
.we-are-section .content-section {
    gap: 20px;
    justify-content: space-between;
}
.we-are-section .text-block-content {
    max-width: 540px;
}
.we-are-section .content-section .text-block-content span {
    display: block;
    color: #01002a;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.we-are-section .content-section .text-block-content p {
    color: #575673;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
}
.we-are-section .content-section .text-block-content a {
    display: flex;
    height: 54px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #e3e6ff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #495fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    width: 164px;
    margin-bottom: 48px;
}
.we-are-section .image-block-section img {
    position: relative;
    margin-right: -200px;
}
@media screen and (max-width: 1200px) {
    .we-are-section .image-block-section img {
        position: relative;
        margin-right: -50px;
        width: 600px;
    }
}
@media screen and (max-width: 991px) {
    .we-are-section .image-block-section img {
        position: relative;
        margin-right: 0px;
        width: 100%;
    }
    .we-are-section .content-section {
        flex-direction: column;
        gap: 50px;
    }
    .we-are-section .text-block-content {
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .we-are-section {
        padding: 100px 0px;
    }
    .we-are-section .title-top h4 {
        font-size: 32px;
        line-height: 38px;
    }
    .we-are-section .title-top p {
        font-size: 30px;
        line-height: 30px;
    }
    .we-are-section .title-top {
        text-align: center;
        margin-bottom: 25px;
    }
}
/* homepage swiper*/
.bg-homepage-swiper {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0.75) 100%
        ),
        linear-gradient(
            180deg,
            rgba(98, 118, 255, 0.35) 0%,
            rgba(98, 118, 255, 0.85) 100%
        );
    padding: 144px 0px;
}
.bg-homepage-swiper .swiper {
    margin-bottom: 96px;
}
.bg-homepage-swiper .swiper-section {
    padding: 0px;
}
.bg-homepage-swiper .hero-btns__block {
    justify-content: center;
}
.title-swiper-section {
    margin-bottom: 96px;
}
.title-swiper-section span {
    display: block;
    color: #6276ff;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title-swiper-section h4 {
    color: #01002a;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    .bg-homepage-swiper {
        padding: 100px 0px;
    }
    .title-swiper-section {
        margin-bottom: 50px;
    }
    .title-swiper-section h4 {
        font-size: 32px;
        line-height: 38px;
    }
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 8% auto;
    padding: 48px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    border-radius: 12px;
    background: #FFF;
  }
  .modal-content .cards-section{
    gap: 24px;
    margin-bottom: 48px;
    justify-content: center;
  }
 
  .modal-content .account-icon{
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
  }
  .modal-content h5{
    color: #01002A;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
  }
  .modal-content p{
    color: #575673;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .modal-content .register-button{
    border-radius: 8px;
    /* opacity: 0.5; */
    background: #495FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    height: 54px;
    width: 100%;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border:none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .modal-content .disabled{
    opacity: 0.5;
  }
  .modal-content .account-item{
    border-radius: 6px;
    border: 1px solid rgba(87, 86, 115, 0.10);
    opacity: 0.75;
    background: #FFF;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    max-width: 220px;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }
  .modal-content .account-item.active{
    border-radius: 6px;
    border: 1px solid #495FFF;
    background: #F6F7FF;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
  }

  .modal-content .account-item.active h5{
    color: #495FFF;
  }
  .modal-content .account-item.active svg path{
    fill:#495FFF;
  }
  .modal-content h2 {
    color: #01002A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 48px;
  }
  @media screen and (max-width: 991px) {
    .modal-content .cards-section{
        flex-direction: column;
    }
    .modal-content .account-item{
        max-width: 100%;
    }
    .modal-content {
        margin: 0% auto;
        width: 100%;
        max-width: 100%;
      }
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
